* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Inter', sans-serif; */
    font-family: Papyrus, fantasy;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 14%;
}

.logo {
    font-weight: 700;
    font-size: 35px;
    color: hsl(0, 0%, 15%);
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist a {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 20px;
    color: black;
    transition: all .42s;
}

.navlist a:hover {
    color: rgb(250, 163, 63);
}

#menu-icon {
    font-size: 35px;
    color: black;
    z-index: 1000;
    cursor: pointer;
    display: none;
}

section {
    padding: 60px 14%;

}

.home {
    width: 100%;
    height: 80vh;
    padding-top: 170px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.home-img img {
    max-width: 100%;
    width: 800px;
    height: auto;
}

.home-text h3 {
    color: brown;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.home-text h1 {
    color: #080808;
    font-size: 35px;
    font-weight: 700;
    line-height: 90px;
    text-transform: capitalize;
}

span {
    color: #f97000;
}

.home-text h4 {
    color: hsl(0, 0%, 15%);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: -0.96px;
}

.home-text h4 span {
    color: hsl(34, 100%, 50%);
    font-weight: 400;
}

.home-text p {
    color: #080808;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    margin: 0 0px 25px;
}

.social-icons i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
    padding-left: 8px;
    margin-bottom: 40px;
    transition: all .42s;
}

.social-icons i:hover {
    width: 50px;
    font-size: 30px;
    height: 50px;
}

.main-btn {
    display: flex;
    align-items: center;
}

.mn-btn {
    display: inline-block;
    color: aliceblue;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
    border: 2px solid #000000;
    background: #000000;
    border-radius: 10px;
    transition: all .42s;
}

.mn-btn:hover {
    background: transparent;
    color: #000000;
}


.about {
    width: 100%;
    height: 80vh;
    padding: 60px 14%;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    width: 2000px;
    height: auto;
    border: 3px solid black;
    border-radius: 50%;
}

.about h2 {
    color: hsl(123, 100%, 30%);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
}

.about-text p {
    color: #080808;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0px 25px;
    padding-left: 10px;
}

.education {
    width: 100%;
    height: 80vh;
    padding: 60px 14%;
    background-color: rgb(255, 255, 255);
}

.education-title h2 {
    color: hsl(123, 100%, 30%);
    font-size: 25px;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card1 {
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background: #acacac;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
    overflow: scroll;
}

.card2 {
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background: #acacac;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
}

.card3 {
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background: #acacac;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
}

.card1 h3 {
    font-size: 18px;
    padding-bottom: 10px;
    color: hsl(219, 97%, 50%);
}

.card1 p {
    font-size: 15px;
    /* font-family: 'Mukta', sans-serif; */
    padding: 10px;
}

.card2 h3 {
    font-size: 18px;
    padding-bottom: 45px;
    padding-top: 20px;
    color: hsl(219, 97%, 50%);
}

.card2 p {
    font-size: 15px;
    /* font-family: 'Mukta', sans-serif; */
    padding: 10px;
}

.card3 h3 {
    font-size: 18px;
    padding-bottom: 55px;
    padding-top: 25px;
    color: hsl(219, 97%, 50%);
}

.card3 p {
    font-size: 15px;
    /* font-family: 'Mukta', sans-serif; */
    padding: 10px;
}

.skills {
    width: 100%;
    height: 80vh;
    padding: 60px 14%;
    background-color: rgb(255, 255, 255);
}

.skills-title h2 {
    color: hsl(123, 100%, 30%);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
}

.skills-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills-text h4 {
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 50px;
}

.left {
    padding-right: 130px;
    padding-top: 50px;
    cursor: pointer;
}

.right {
    padding-top: 50px;
    cursor: pointer;
}

.contact {
    width: 100%;
    height: 80vh;
    padding: 60px 14%;
    background-color: rgb(255, 255, 255);
}

.contact-title h2 {
    color: hsl(123, 100%, 30%);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
}

form {
    /* padding-top: 30px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {

    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 40%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    color: #999;
}

.email {
    border: 1px solid #000000;
    color: #333;
}

.name {
    border: 1px solid #000000;
    color: #333;
}

.number {
    border: 1px solid #000000;
    color: #333;
}

.textarea {
    border: 1px solid #000000;
    color: #333;
}

button {
    background-color: #ff9100;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #ff9100;
}

button:hover {
    background-color: transparent;
    color: #000000;
}

br {
    display: none;
}

.footer {
    width: 100%;
    height: 40vh;
    padding: 60px 14%;
    background-color: rgb(172, 170, 170);
}

.footer-title h3 {
    color: hsl(0, 0%, 0%);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #448000;
    text-decoration-thickness: 3px;
}

.footer-title h6 {
    color: black;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.footer-icons a {
    justify-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 35px;
    color: #000000;
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
    }

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #141313;
        padding: 80px 30px;
        border-radius: 10px;
        transition: all .42s;
    }

    .navlist a {
        color: #fff;
        display: block;
        margin: 10px 0;
    }

    .navlist.open {
        right: 0;
    }

    .logo {
        font-size: 20px;
    }

    .home {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 85vh;
    }

    .home-img img {
        max-width: 100%;
        width: 250px;
        height: auto;
    }

    .home-text {
        text-align: center;
    }

    .home-text h3 {
        font-size: 18px;
    }

    .home-text h1 {
        font-size: 25px;
        line-height: 45px;
    }

    .home-text p {
        font-size: 13px;
        line-height: 20px;
    }

    .home-text h4 {
        font-size: 15px;
        letter-spacing: -0.96px;
    }

    .main-btn {
        justify-content: center;
    }

    .mn-btn {
        font-size: 10px;
    }

    .container {
        flex-direction: column;
    }
    .about {
        height: 55vh;
    }
    .about-img img {
        max-width: 40%;
        width: 500px;
    }

    .about h2 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 13px;
        line-height: 20px;
    }

    .education {
        width: 100%;
        height: 70vh;
        padding: 60px 14%;
        background-color: rgb(255, 255, 255);
    }

    .education-title h2 {
        color: hsl(123, 100%, 30%);
        font-size: 20px;
        justify-content: center;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-decoration-thickness: 3px;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }

    .card1 {
        height: 180px;
        width: 100%;
        padding: 20px 35px;
        background: #acacac;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 10px 10px 5px lightblue;
    }

    .card2 {
        height: 180px;
        width: 100%;
        padding: 20px 35px;
        background: #acacac;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 10px 10px 5px lightblue;
    }

    .card3 {
        height: 180px;
        width: 100%;
        padding: 20px 35px;
        background: #acacac;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 10px 10px 5px lightblue;
    }

    .card1 h3 {
        font-size: 13px;
    }

    .card1 p {
        font-size: 10px;
        font-weight: bold;
    }

    .card2 h3 {
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .card2 p {
        font-size: 10px;
        font-weight: bold;
    }

    .card3 h3 {
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .card3 p {
        font-size: 10px;
        font-weight: bolder;
    }

    .skills {
        height: 30vh;
    }

    .skills-title h2 {
        font-size: 20px;
    }

    .skills-text {
        flex-direction: row;
        padding: 10px;
    }

    .skills-text h4 {
        font-size: 12px;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 20px;
    }

    .left {
        padding-right: 20px;
        padding-top: 40px;
    }

    .right {
        padding-top: 40px;
    }

    .contact {
        height: 55vh;
    }

    input {
        width: 100%;
    }

    .contact-title h2 {
        font-size: 20px;
    }

    input::placeholder {
        font-size: 12px;
    }

    input {
        width: 100%;
    }

    .footer {
        height: 20vh;
    }

    .footer-title h3 {
        font-size: 20px;
    }

    .footer-title h6 {
        font-size: 10px;
        padding-top: 20px;
    }

    .footer-icons {
        margin: 30px;
    }

    .footer-icons a {
        font-size: 25px;
    }
}
@media screen and (max-width: 470px) {
    
    .skills {
        height: 35vh;
    }
    .skills-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 10px;
    }
    .left {
        padding-right: 0px;
        padding-top: 20px;
    }

    .right {
        padding-top: 0px;
    }

}
@media screen and (max-width: 571px){
    
    .skills {
        height: 35vh;
    }
    .skills-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 10px;
    }
    .left {
        padding-right: 0px;
        padding-top: 20px;
    }

    .right {
        padding-top: 0px;
    }
}
